.footer {
    background-color: $color-grey-dark-3;
    padding: 10rem 0;
    font-size: 1.4rem;
    clip-path: polygon(0 5%, 50% 0, 100% 5%, 100% 100%, 0 100%);
    margin-top: -1.8em;

    &__logo-box {
        text-align: center;
        margin-top: -3rem;
        margin-bottom: 8rem;
    }

    &__logo {
        width: 10rem;
        height: auto;
        
    }

    &__navigation {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        display: inline-block;
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__item-2 {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 3.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: $color-grey-light-1;
            background-color: $color-grey-dark-3;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }
 
        &:hover,
        &:active {
            color: $color-turquoise;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: scale(1.2);
        }
    }

    &__social {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        list-style: none;
        display: inline-block;
        float: right;        

        &-media {
            height: 5rem;
            width: 5rem;
        }
    }

    &__copyright {
        padding-top: 2rem;
        float: right;
    }
}