/*
Alternate gradient colors
linear-gradient(to right bottom, rgba(117, 185, 244, 0.8), rgba(21, 59, 135, 0.8)) --- light blue and dark blue

linear-gradient(to right bottom, rgba(51, 51, 51, 0.8), rgba(21, 59, 135, 0.8)) --- grey and dark blue
*/
.header {
    height: 95vh;
    background-image:  linear-gradient(to right bottom, rgba($color-primary-charcoal, 0.8), rgba($color-primary-charcoal, 0.8)), url(../img/snowy-road.jpeg);
    background-size: cover;
    background-position: top;
    position: relative;
    
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 50% 100%, 0 90vh);
    clip-path: polygon(0 0, 100% 0, 100% 90vh, 50% 100%, 0 90vh);

    &__logo-box {
        position: absolute;
        top: 5%;
        left: 2%;
    }

    &__logo {
        height: 5rem;
        animation: moveInTop 5s;
    }

    &__text-box {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

