@keyframes moveInTop {
    0% {
        opacity: 0;
        /*transform: translateY(500px);----this is to have it fade in from bottom*/
    }

    100% {
        opacity: 1;
        /*transform: translate(0) ----this is to have it fade in from bottom*/
    }
}

@keyframes moveInDown {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }

    80% {
        transform: translateY(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}
 
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}

/*may not be needed bc not having white button
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
} 
*/